:root{
    --mycolor:#7E31F3;
    --secondcolor:#D2ACF7;

}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }

body{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    background-image: url(/Images/1ZZ.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.header{
    align-items: center;
    display: flex;
    padding: 1.5rem;
    top: 0; right: 0; left: 0;
    justify-content: space-between;
    z-index: 1000;
    background-color: black;
}

.imagelogo{
    height: 18px;
    animation: 2s slide-right;
 }

.logo{
    transition: width 2s, height 4s;

}

.a{
    text-decoration: none;
}


.navbar a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin:50px;
    animation: fadeIn 2.5s;

}



.navbar a:hover{
    color: var(--secondcolor);
}

.self{
    color: #7E31F3 !important;
}

.subscribe{
    margin-left: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.fixedsubs{
    width: 76px;
}

.bottom{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 30px;
    margin-left: 50%;
    margin-top: 100%;
}

.text{
    display: block;
    color: #767676;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 75px;
}

.link{
    color: white;
}


.head{
    font-size: 69px;
    font-weight: bold;
}

.end{
    color: white;
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 100%
 }

.happycrist{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-weight: bold;
    margin-top: 6rem;

}

.happy{
    color: #FF3E3E;
    font-family:'Roboto', sans-serif;
    font-size: 70px;
}

.crist{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 120px;
    margin-top: -56px;
}

.middletext{
    width: 450px;
    display: block;
    text-align:center;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.5em;

}

.text{
    color: white;
    font-size: 16px;
}

.btn-chanel{
    text-align: center;
    background-color: #FFC400;
    border: 0;
    width: 178px;
    height: 46px;
    cursor: pointer;
}

.go-chanel button:hover{
    color: white;
    background-color: black;
}

.go-chanel{
    text-align: center;
}
.go-chanel button{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}


