:root{
    --mycolor:#7E31F3;
    --secondcolor:#D2ACF7;

}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    max-height: max-content;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
@keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }
body{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    max-height: max-content;
    background-image: url(/Images/1ZZ.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

     
}

.header{
    align-items: center;
    display: flex;
    padding: 1.5rem;
    top: 0; right: 0; left: 0;
    justify-content: space-between;
    background-color: #000;
}

.body-elements{
    display: block;
    margin-left: 0;
    margin-right: 0;
}


.imagelogo{
    height: 18px;
    animation: 2s slide-right;
 }

.a{
    text-decoration: none;
}


.navbar a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin:50px;
    animation: fadeIn 2.5s;

}


.navbar a:hover{
    color: var(--secondcolor);
}


.self{
    color: #7E31F3 !important;
}



.head{
    font-size: 69px;
    font-weight: bold;
}

.firsttext{
    margin-top: 4rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    margin-left: 30px;
}
.firsttxt{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
    width: 600px;
    font-size: 50px;
    
}


.background{
    margin-top: 5rem; 
    margin-bottom: 5rem;
    margin-left: 25rem;
    margin-right: 25rem;
    border-radius: 50px;
    box-shadow: 1px 1px  25px  var(--secondcolor);
    width: 500px;
    display: block;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 .content{
    align-items: center;
    text-align: center;
}

 .prfl-img{
    height: 150px;
    border-radius: 100%;
    margin-top: 39px;
    margin-bottom: 10px;
    border: 5px solid var(--secondcolor);
    padding: 4px;
}


.bf-name{
    color: white ;
}





.icons{
    margin-top: 40px;
    margin-bottom: 39px;

}

.instagram{
    display: flex;

}
.linkedin{
    display: flex;


}
.github{
    display: flex;

}

.youtube{
    display: flex;

}


.icons img{
    display: block;
    width: 70px;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    margin-left: 3.5rem;
    margin-bottom: 30px;

}



button {
    color: white;
    font-weight: bold;
    font-size: 19px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    margin-right: 2rem;
    margin-top: 10px;

}

.btn-gh{
    background-color: #000 ;
}
.btn-insta{
    background-image: linear-gradient(180deg, #5161C4 , #F34E55 , #FFC952 );
}
.btn-lin{
    background-color: #0288D1;
}
.btn-yt{
    background-color: #FF3D00;
}

.github button:hover{
    color: black;
    background-color: white;
    animation: fadeIn 1s; 

}
.linkedin button:hover{
    color: #0288D1;
    background-color: white;
    animation: fadeIn 1s; 
}
.instagram button:hover{
    color: #5161C4;
    background-color: white;
    animation: fadeIn 1s; 
}
.youtube button:hover{
    color: red;
    background-color: white;
    animation: fadeIn 1s; 
}

.end{
    color: #EEE;
    text-align: center;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}